@namespace MudExtensions
@inherits MudBaseSelectItem
@using Microsoft.AspNetCore.Components.Routing

<MudStack Class="mb-3" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="1">
    <div @attributes="UserAttributes" class="@Classname" disabled="@Disabled" style="@Style">
        <NavLink @onclick="@OnClickHandler"                 
                 class="@LinkClassname"
                 @attributes="@Attributes"
                 Match="@Match"
                 ActiveClass="@ActiveClass">        
            @if (!string.IsNullOrEmpty(Icon))
            {
                @if (BadgeContent is not null)
                {
                    <MudBadge Content="@BadgeContent" Color="Color.Error" Overlap="true">
                        <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname" />
                    </MudBadge>
                }
                else
                {
                    <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname" />
                }
            }
        </NavLink>
    </div>
    <div>
        <MudTextM3 Typo="@LabelTypo" Size="@LabelSize">@Label</MudTextM3>
    </div>
</MudStack>