@namespace MudExtensions
@using System.Linq.Expressions;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudStack Class="mud-ap-stack" Row="true">
        @LogicalOperatorTemplate
        <MudStack Class="mud-filter-def" Row="true">
            <PropertySelectComponent Filter="@Filter" @bind-AtomicPredicate="@AtomicPredicate" PropertySelectChanged="OnPropertySelectTypeChangedAsync" PropertySelectTypeChanged="OnPropertySelectTypeChangedAsync" />
            <OperatorSelectComponent @bind-AtomicPredicate="@AtomicPredicate" OperatorTypeChanged="OnOperatorSelectChangedAsync" OperatorChanged="OnOperatorSelectChangedAsync" />
            <ValueFieldComponent @bind-AtomicPredicate="AtomicPredicate" ValueFieldChanged="OnValueFieldChangedAsync" />
            @if (!IsFirstElement)
            {
                <div class="flex-grow-1">
                    @PredicateUnitActionsTemplate
                </div>
            }
        </MudStack>
    </MudStack>
</div>
