@namespace MudExtensions
@using System.Linq.Expressions;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudStack Class="mud-ap-stack" Row="true" AlignItems="AlignItems.Center">
        <CascadingValue Value="@Filter" IsFixed="true">
            <PropertySelectComponent T="T" Filter="@Filter" @bind-AtomicPredicate="@AtomicPredicate" PropertySelectChanged="OnPropertySelectChangedAsync" />
        </CascadingValue>
        <OperatorSelectComponent @bind-AtomicPredicate="@AtomicPredicate" />
        <ValueFieldComponent @bind-AtomicPredicate="AtomicPredicate" />
        <MudIconButton Class="mud-ap-remove" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="RemovePredicateUnit" />
    </MudStack>
</div>