@namespace MudExtensions
@using System.Linq.Expressions;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudPaper Class="mud-ap-paper">
        <MudStack Class="mud-ap-stack" Row="true">
            <PropertySelectComponent T="T" @bind-AtomicPredicate="@AtomicPredicate" PropertySelectChanged="OnPropertySelectChangedAsync" />
            <CascadingValue Value="@Filter" IsFixed="true">
                <OperatorSelectComponent @bind-AtomicPredicate="@this.AtomicPredicate" />
            </CascadingValue>
            <ValueFieldComponent @bind-AtomicPredicate="AtomicPredicate" @bind-AtomicPredicate:event="OnAtomicPredicateChangedAsync" />
        </MudStack>
    </MudPaper>
</div>