@namespace MudExtensions
@using System.Linq.Expressions;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudStack Class="mud-ap-stack" Row="true">
        <LogicalOperatorComponent T="AtomicPredicateComponent<T>" Depth="Depth" IsFirstElement="IsFirstElement" ParentLogicalOperator="LogicalOperator" />
        <MudStack Class="mud-filter-def" Row="true">
            <PropertySelectComponent Filter="@Filter" @bind-AtomicPredicate="@AtomicPredicate" PropertySelectChanged="OnPropertySelectChangedAsync" />
            <OperatorSelectComponent @bind-AtomicPredicate="@AtomicPredicate" OperatorSelectChanged="OnOperatorSelectChangedAsync" />
            <ValueFieldComponent @bind-AtomicPredicate="AtomicPredicate" ValueFieldChanged="OnValueFieldChangedAsync" />
            @if (!IsFirstElement)
            {
                <div class="flex-grow-1">
                    <PredicateUnitActionsComponent T="AtomicPredicateComponent<T>" RemovePredicateUnitAsync="RemovePredicateUnitAsync" IsFirstElement="IsFirstElement" />
                </div>
            }
            </MudStack>
    </MudStack>
</div>
