@namespace MudExtensions
@using System.Linq.Expressions;
@inherits MudComponentBase
@typeparam T


<div class="@ClassName" style="@StyleString">
    <MudStack Class="mud-ap-stack" Row="true">

        @for (int i = 0; i <= Depth; i++)
        {
            int j = i;
            if (j == Depth && !IsFirstElement)
            {
                <MudTextM3 Class="mud-logical-operator">@LogicalOperator</MudTextM3>
            }
            else if (Depth != 0 && !IsFirstElement)
            {
                <MudTextM3 Class="mud-logical-operator" />
            }
        }

        <MudStack Class="mud-filter-def" Row="true">
            <PropertySelectComponent Filter="@Filter" @bind-AtomicPredicate="@AtomicPredicate" PropertySelectChanged="OnPropertySelectChangedAsync" />
            <OperatorSelectComponent @bind-AtomicPredicate="@AtomicPredicate" OperatorSelectChanged="OnOperatorSelectChangedAsync" />
            <ValueFieldComponent @bind-AtomicPredicate="AtomicPredicate" ValueFieldChanged="OnValueFieldChangedAsync" />
            <PredicateUnitActionsComponent IsCompoundPredicate="false" RemovePredicateUnitAsync="RemovePredicateUnitAsync" IsFirstElement="IsFirstElement" />
        </MudStack>
    </MudStack>
</div>
