@namespace MudExtensions
@using MudBlazor.Utilities;
@using MudExtensions.Enums;
@using System.Linq.Expressions;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    @if (PredicateUnit is CompoundPredicate<T> compoundPredicate)
    {
        <CompoundPredicateComponent @key="compoundPredicate" T="T" CompoundPredicate="@compoundPredicate" Filter="@Filter" />
    }
    else if (PredicateUnit is AtomicPredicate<T> atomicPredicate)
    {
        <AtomicPredicateComponent @key="atomicPredicate" T="T" AtomicPredicate="@atomicPredicate" Filter="@Filter" />
    }
</div>