@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudButton OnClick="(() => StateHasChanged())">StateHasChanged</MudButton>
    <CascadingValue Value="this" IsFixed="true">
        @FilterTemplate
        <Node T="T" PredicateUnit="@FilterRoot" />
        
        
        
        <ExpressionTree PredicateUnit="@FilterRoot" />
        <MudSpacer></MudSpacer>
        <ExpressionTree PredicateUnit="@RootPredicate" />

    </CascadingValue>
</div>


