@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
@*     <MudSelect T="string" @bind-Value="Operator" @bind-Value:after="OnOperatorSelectChangedAsync" Variant="Variant.Outlined" FullWidth="true" Required="true" Dense="true" Margin="Margin.Dense">
        @foreach (var filterOperator in FilterOperator.GetOperatorByDataType(AtomicPredicate.MemberType))
        {
            <MudSelectItem @key="filterOperator" Value="@filterOperator">@filterOperator</MudSelectItem>
        }
    </MudSelect> *@

    <MudSelectExtended MultiSelection="false"
                       ItemCollection="FilterOperator.GetOperatorByDataType(AtomicPredicate.MemberType)"
                       @bind-Value="Operator"
                       @bind-Value:after="OnOperatorSelectChangedAsync"
                       ValuePresenter="ValuePresenter.ItemContent"
                       SearchBox="true"
                       SearchBoxAutoFocus="true"
                       SearchFunc="SearchFunc"
                       T="string"
                       AnchorOrigin="Origin.BottomCenter"
                       Variant="Variant.Outlined"
                       SearchBoxClearable="true"
                       Dense="true"
                       Margin="Margin.Dense">
        <ItemTemplate>
            <MudTextM3 TypeStyle="Enums.TypeStyle.Body" TypeSize="Enums.TypeSize.Large">@context.Value</MudTextM3>
        </ItemTemplate>
    </MudSelectExtended>
</div>