@namespace MudExtensions
@using System.Linq.Expressions;
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam TItem

<div class="@ClassName" style="@StyleString">
    <MudSelect T="Property<TItem>" 
                @bind-Value="Property" 
                @bind-Value:after="OnPropertyChangedAsync" 
                Variant="Variant.Outlined" FullWidth="true" Required="true" Dense="true" Margin="Margin.Dense">
        @foreach (var property in Filter?.Properties)
        {
            <MudSelectItem @key="property" T="Property<TItem>" Value="@property">@property.ComputedTitle</MudSelectItem>
        }
    </MudSelect>

@*     <MudSelectExtended MultiSelection="false"
                       ItemCollection="Filter?.Properties"
                       @bind-Value="Property"
                       @bind-Value:after="OnPropertyChangedAsync"
                       ValuePresenter="ValuePresenter.ItemContent"
                       SearchBox="true"
                       SearchBoxAutoFocus="false"
                       T="Property<TItem>"
                       AnchorOrigin="Origin.BottomCenter"
                       Variant="Variant.Outlined"
                       SearchBoxClearable="true"
                       Dense="true"
                       Margin="Margin.Dense">
        <ItemTemplate>
            <MudTextM3 TypeStyle="Enums.TypeStyle.Body" TypeSize="Enums.TypeSize.Large">@context.Value.ComputedTitle</MudTextM3>
        </ItemTemplate>
    </MudSelectExtended> *@
</div>