@namespace MudExtensions
@using Microsoft.AspNetCore.Components.Web
@inherits MudComponentBase
@typeparam T

<li @attributes="UserAttributes" class="@Classname" style="@Style">
    <div class="@ContentClassname" @onclick="OnItemClickedAsync" @onclick:stopPropagation="true" @ondblclick="OnItemDoubleClickedAsync" @ondblclick:stopPropagation="true">
        @if (Content != null)
        {
            @Content
        }
        else if (ContentWithContext != null)
        {
            @ContentWithContext(this)
        }
        else
        {
            <MudTreeViewItemToggleButtonM3 Loading="Loading" Expanded="Expanded" ExpandedChanged="OnItemExpandedAsync" Visible="@HasChild" ExpandedIcon="@ExpandedIcon" ExpandedIconColor="@ExpandedIconColor" LoadingIcon="@LoadingIcon" LoadingIconColor="LoadingIconColor"></MudTreeViewItemToggleButtonM3>

            @if (MudTreeRoot != null && MudTreeRoot.MultiSelection)
            {
                <MudCheckBox Class="mud-treeview-item-checkbox" CheckedIcon="@CheckedIcon" UncheckedIcon="@UncheckedIcon" @bind-Checked="IsChecked" Disabled="@Disabled"></MudCheckBox>
            }

            @if (!string.IsNullOrEmpty(Icon))
            {
                <div class="mud-treeview-item-icon">
                    <MudIcon Icon="@Icon" Color="@IconColor" />
                </div>
            }

            @if (BodyContent != null)
            {
                @BodyContent(this)
            }
            else
            {
                <MudTextM3 TypeStyle="@TextTypeStyle" TypeSize="@TextTypeSize" Class="@TextClassname">
                    @Text
                </MudTextM3>

                @if (!string.IsNullOrEmpty(EndText))
                {
                    <MudTextM3 TypeStyle="@EndTextTypeStyle" TypeSize="@EndTextTypeSize" Class="@EndTextClass">
                        @EndText
                    </MudTextM3>
                }

                @if (!string.IsNullOrEmpty(EndIcon))
                {
                    <div class="mud-treeview-item-icon">
                        <MudIcon Icon="@EndIcon" Color="@EndIconColor" />
                    </div>
                }
            }
        }
    </div>
    @if (HasChild)
    {
        <MudCollapse Expanded="@Expanded">
            <CascadingValue Value="@MudTreeRoot" IsFixed="true">
                <CascadingValue Value="this" IsFixed="true">
                    <MudTreeViewM3 Items="Items" ItemTemplate="MudTreeRoot.ItemTemplate" Class="mud-treeview-group">
                        @ChildContent
                    </MudTreeViewM3>
                </CascadingValue>
            </CascadingValue>
        </MudCollapse>
    }
</li>
